version: "3.9"

services:
  db:
    image: postgres:16-alpine
    container_name: project_db
    environment:
      # These variables are specific to the postgres image
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    ports:
      - "5432:5432"
    volumes:
      - db_data:/var/lib/postgresql/data
      - ./src/db/migrations.sql:/docker-entrypoint-initdb.d/001_migrations.sql
      - ./src/db/procedures.sql:/docker-entrypoint-initdb.d/002_procedures.sql

  api:
    build: .
    container_name: mini_project_api
    ports:
      - "${PORT}:${PORT}"
    environment:
      PORT: 3000
      DB_USER: ${DB_USER}
      DB_PASSWORD: ${DB_PASSWORD}
      DB_HOST: db
      DB_PORT: 5432
      DB_NAME: ${DB_NAME}
      REDIS_URL: ${REDIS_URL}
      JWT_SECRET: ${JWT_SECRET}
    depends_on:
      - db
      - redis
    volumes:
      - .:/app

  redis:
    image: redis:7-alpine
    container_name: redis
    ports:
      - "6379:6379"

volumes:
  db_data: