version: "3.9"

services:
  db:
    image: postgres:16-alpine
    container_name: project_db
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: root
      POSTGRES_DB: project_db
    ports:
      - "5432:5432"
    volumes:
      - db_data:/var/lib/postgresql/data

  api:
    build: .
    container_name: mini_project_api
    ports:
      - "3000:3000"
    environment:
      PORT: 3000
      DB_USER: postgres
      DB_PASSWORD: postgres
      DB_HOST: db
      DB_PORT: 5432
      DB_NAME: project_db
      REDIS_URL: redis://redis:6379
      JWT_SECRET: your_jwt_secret_here
    depends_on:
      - db
      - redis
    volumes:
      - .:/app

  redis:
    image: redis:7-alpine
    container_name: redis
    ports:
      - "6379:6379"

volumes:
  db_data:
